.student-grade-table-text {
    color: #333;
}

.label-default {
    background-color: #3e3f3a;
}

.label {
    font-weight: bold;
}


.submit-buttons {
    display: flex;
    justify-content: space-evenly;
}

.data-button {
    display: flex;
    justify-content: space-around;
}

.btn {
    border: none;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-success {
    color: #ffffff;
    background-color: #93c54b;
}

.btn-default {
    color: #ffffff;
    background-color: #3e3f3a;
}

.update-button {
    margin-right: 2vh;
}

.btn-primary {
    background-color: #325d88;
}

.new-id {
    display: none; 
}

.modal-content {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.modal-input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.modal-footer {
    text-align: center;
}

@media screen and (min-width: 320px) {
    .student-grade-table-text {
        font-size: 14px;
        padding-left: 30px; 
        vertical-align: top;
     }
     .pull-right {
         padding-right: 31px;
     }

    #grade-average-text {
        font-size: 11px;
    }
    #add-student-text {
        font-size: 14px;
    }
    .grade-table-text {
        font-size: 10px;
    }
 
    .student-list-container {
        margin-top: 15px;
    }

    .btn-primary {
        margin-bottom: 4px;
    }
    th {
        text-align: left;
        vertical-align: top;
    }
    .table-header {
        text-align: left;
        vertical-align: top;
    }
    td {
        text-align: left;
    }
}

@media screen and (max-width: 320px) {
    .student-grade-table-text {
        font-size: 14px;
        padding-left: 30px; 
        vertical-align: top;
     }
     .pull-right {
         padding-right: 31px;
     }

    #grade-average-text {
        font-size: 11px;
    }
    #add-student-text {
        font-size: 16px;
    }
    .grade-table-text {
        font-size: 10px;
    }
 
    .student-list-container {
        margin-top: 15px;
    }

    .btn-primary {
        margin-bottom: 4px;
    }
}

@media screen and (min-width: 360px) {
    .student-grade-table-text {
        font-size: 16px;
    }
    #grade-average-text {
        font-size: 12px;
    }
    #add-student-text {
        font-size: 16px;
    }
    .grade-table-text {
        font-size: 11px;
    }
}

@media screen and (max-width: 360px) {
    td {
        font-size: 12px; 
    }
}


@media screen and (min-width: 470px) {
    .grade-table-text {
        font-size: 12px; 
    } 
}

@media screen and (min-width: 509px) {
    .form-control {
        height: 46px;
        padding: 12px 16px;
    }
    .btn-success {
        height: 50px;
    }
    .student-list-container {
        margin-top: 40px;
    }
    .btn-primary {
        margin-right: 2vw;
        vertical-align: top;
    }
}


@media screen and (min-width: 587px) {
    .grade-table-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .student-grade-table-text {
       font-size: 30px;
       padding-left: 30px; 
    }
    .pull-right {
        padding-right: 31px;
    }
    #grade-average-text {
        font-size: 18px;
    }
    #add-student-text {
        font-size: 18px;
    }
    .grade-table-text {
        font-size: 15px;
    }
}

